.footer{
    background-color: var(--cor-azul);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;

}